---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getRepositoryCommits } from '../utils/githubApi';
import { getCollection } from 'astro:content';
import PostCard  from '../components/PostCard.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const owner = "viriatonova"
const repor =  "poc_fastapi"
const token = process.env.TOKEN
 
// const data: any = await getRepositoryCommits(owner, repor, token)
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="px-40">
		<Header title={SITE_TITLE} />
		<main class="flex justify-start items-start mt-12">
			<aside class="w-1/2">
				barra lateral
			</aside>
			<section class="w-full">
				<ul class="list-none flex flex-col justify-center items-start">
					{
						posts.map((post) => (
							<PostCard post={post}/>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
