---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getRepositoryCommits } from '../utils/githubApi';

const owner = "viriatonova"
const repor =  "poc_fastapi"
const token = process.env.TOKEN
 
const data: any = await getRepositoryCommits(owner, repor, token)
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="mt-12 px-32">
			<h1>
				{JSON.stringify(data.commits[0])}
			</h1>
		</main>
		<Footer />
	</body>
</html>
