---
const today = new Date();
---

<footer class="w-full h-44 mt-24 bg-neutral-900 text-white">
	<div class="w-full h-full pagination">
		<p>&copy; {today.getFullYear()} Viriato Nova</p>
	</div>
</footer>